{% extends 'registros/base.html' %}
{% load staticfiles %}

{% block head %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RV - INCLUIDOS</title>

  <!-- Custom fonts for this template -->
  <link href="{% static 'registros/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'registros/css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{% static 'registros/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>
{% endblock %}

{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <img src="{% static 'registros/img/logo.png' %}" style="width:100px;">
          <h1 class="h3 mb-2 text-gray-800">Anexo X. Registro de Incluidos / No Incluidos. IFV/NEU/04 SILAC Versión 1.4</h1>
          <p class="mb-4">En este página se muestran los sujetos que han sido incluidos y no incluidos en esta fase. Debe tener en cuenta ......</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              {% if perms.registros.add_incluido %}
              <a class="btn btn-primary" href="{% url 'inc_add' %}" role="button">Añadir +</a>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-sm compact" id="dataTable" style="width: 100%" cellspacing="0">
                     <thead class="small">
                      <tr>
                        <th>No</th>
                        <th>Iniciales</th>
                        <th>Fecha Evaluación</th>
                        <th>Inclusión</th>
                        <th>Fecha Inclusión</th>
                        <th>No Inclusión</th>
                        <th>Causa no Inclusión</th>
                        <th>Investigador</th>
                        <th>Firma</th>
                        {% if perms.registros.view_incluido %}
                        <th>Acciones</th>
                        {% endif %}
                        {% if perms.registros.change_incluido %}
                        <th>Logs</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tfoot class="small">
                      <tr>
                        <th>No</th>
                        <th>Iniciales</th>
                        <th>Fecha Evaluación</th>
                        <th>Inclusión</th>
                        <th>Fecha Inclusión</th>
                        <th>No Inclusión</th>
                        <th>Causa no Inclusión</th>
                        <th>Investigador</th>
                        <th>Firma</th>
                        {% if perms.registros.view_incluido %}
                        <th>Acciones</th>
                        {% endif %}
                        {% if perms.registros.change_incluido %}
                        <th>Logs</th>
                        {% endif %}
                      </tr>
                    </tfoot>
                    <tbody class="small">
                    {% for dato in datos %}
                      <tr>
                        <td>{{ dato.numero }}</td>
                        <td>{{ dato.iniciales }}</td>
                        <td>{{ dato.feceva|date:'d/m/Y' }}</td>
                        <td>{{ dato.get_inclusion_display }}</td>
                        <td>{{ dato.fecinc|date:'d/m/Y' }}</td>
                        <td>{{ dato.numinc }}</td>
                        <td>{{ dato.causano }}</td>
                        <td>{{ dato.investigador }}</td>
                        <td>{{ dato.get_firma_display }}</td>
                        <td><center>
                            <a class="fas fa-eye" href="{% url 'inc_detail' dato.id %}"></a>
                            {% if perms.registros.change_incluido %}
                            <a class="fas fa-edit" href="{% url 'inc_edit' dato.id %}"></a>
                            {% endif %}
                            {% if perms.registros.delete_incluido %}
                            <a class="fas fa-trash" href="{% url 'inc_del' dato.id %}"></a>
                            {% endif %}
                            </center>
                        </td>
                        {% if perms.registros.change_incluido %}
                        <td><a class="fas fa-history" href="{% url 'inc_logs' dato.id %}"></a></td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block bootstrap_js %}
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'registros/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'registros/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'registros/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'registros/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'registros/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'registros/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'registros/js/demo/datatables-demo.js' %}"></script>
{% endblock %}