{% extends 'registros/incluido_show.html' %}
{% load staticfiles %}

{% block head %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RV - INCLUIDOS-Logs</title>

  <!-- Custom fonts for this template -->
  <link href="{% static 'registros/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'registros/css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{% static 'registros/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>
{% endblock %}

{% block content %}
        <div class="container-fluid">
          <div class="card shadow mb-4">
            <h3 class="ml-4 mt-4 text-primary">Historial del sujeto {{ history.first.numero }}, {{ history.first.iniciales }}</h3>
                <div class="card-body">
                    <div class="table-responsive">
                     <table class="table table-bordered table-sm compact" id="dataTable" style="width: 100%" cellspacing="0">
                        <thead class="small">
                            <tr>
                                <th class="text-primary text-center" colspan="3">ANTERIOR REGISTRO</th>
                                <th class="text-success text-center" colspan="6">ACTUALIZACION DEL REGISTRO</th>
                            </tr>
                        </thead>
                        <thead class="small">
                            <tr>
                                <th class="text-primary" scope="col">FECHA/HORA</th>
                                <th class="text-primary" scope="col">ACCION</th>
                                <th class="text-primary" scope="col">USUARIO</th>
                                <th class="text-success" scope="col">FECHA/HORA</th>
                                <th class="text-success"scope="col">ACCION</th>
                                <th class="text-success" scope="col">CAMPO</th>
                                <th class="text-success" scope="col">ANTERIOR</th>
                                <th class="text-success" scope="col">NUEVO</th>
                                <th class="text-success" scope="col">USUARIO</th>
                            </tr>
                        </thead>
                        <tfoot class="small">
                            <tr>
                                <th class="text-primary" scope="col">FECHA/HORA</th>
                                <th class="text-primary" scope="col">ACCION</th>
                                <th class="text-primary" scope="col">USUARIO</th>
                                <th class="text-success" scope="col">FECHA/HORA</th>
                                <th class="text-success" scope="col">ACCION</th>
                                <th class="text-success" scope="col">CAMPO</th>
                                <th class="text-success" scope="col">ANTERIOR</th>
                                <th class="text-success" scope="col">NUEVO</th>
                                <th class="text-success" scope="col">USUARIO</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for change in history_delta %}
                                {% for i in change.changes %}
                                    <tr>
                                        <td>{{ change.old_record.history_date }}</td>
                                        <td>{{ change.old_record.get_history_type_display }}</td>
                                        <td>{{ change.old_record.history_user }}</td>
                                        <td>{{ change.new_record.history_date }}</td>
                                        <td>{{ change.new_record.get_history_type_display }}</td>
                                        <td>{{ i.field }}</td>
                                        <td>{{ i.old }}</td>
                                        <td>{{ i.new }}</td>
                                        <td>{{ change.new_record.history_user }}</td>
                                    </tr>
                                 {% endfor %}
                            {% endfor %}
                        </tbody>
                     </table>
                    </div>
                </div>
          </div>
          <hr>
            <a class="ml-3 mb-3" href="{% url 'inc_shows' %}">Volver</a>
        </div>
{% endblock %}